body {
    background-image: url("../images/gambitbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas {
    height: 700px;
}

#wheel {
    margin-top: 50px;
    margin-left: 800px;
}

#mapImage {
    margin-left: 890px;
    height: 200px;
    width: auto;
}